*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-display: auto;
  color: #000;
  font-family: Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body {
  height: auto;
  min-height: 100%;
  position: relative;
  background-color: #fff;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 45px 20px;
}
a {
  text-decoration: none;
  color: #4183c4;
}
a:hover {
  color: #1e70bf;
}
h1, h2, h3, h4, h5 {
  line-height: 1.3em;
}
h1 {
  font-size: 2.25em;
  min-height: 1rem;
}
h2 {
  font-size: 1.25rem
}
h3 {
  font-size: 1.25rem
}

img {
  max-width: 100%;
  height: auto;
}

::selection {
  background-color: #73ffaa;
  color: #000;
}
